@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url("{{ url_for('static', filename='fonts/OpenSans-Regular.ttf') }}") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url("{{ url_for('static', filename='fonts/OpenSans-Bold.ttf') }}") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url("{{ url_for('static', filename='fonts/OpenSans-Italic.ttf') }}") format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    src: url("{{ url_for('static', filename='fonts/Inter-VariableFont_opsz,wght.ttf') }}") format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    src: url("{{ url_for('static', filename='fonts/Inter-Italic-VariableFont_opsz,wght.ttf') }}") format('truetype');
}
